# --- Base de datos MySQL ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vitalis_db

# --- Aplicacion ---
APP_NAME=Vitalis
APP_SLOGAN=La mejor aplicación si quieres hacer análisis biomédico